{% extends 'base.html.twig' %}

{% block title %}
    Relations
{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="tableRelations">

        {% if relations %}
            <h1>Bonjour {{nomUtilisateur}}, voici vos relations :</h1>

            {% for relation in relations %}
                
                <div class="user-container">
                    {% if relation.imageAmi %}
                        <img src={{relation.imageAmi}} alt="Profile_img" class="profile-picture">
                    {% endif %}

                    <div class="user-info">

                        <h2 class="username">{{ relation.nomAmi }}</h2>

                        {% if relation.descriptionAmi %}
                            <p class="description">{{relation.descriptionAmi}}</p>
                        {% endif %}
                    </div>
                    
                    <div class="button-container">
                        <a href="{# TODO: Ajouter le path pour acceder au profil#}">
                            <button class="profile-button">Profil</button>
                        </a>
                        <a href="{{ path("app_deleteRelation", { idAmis: relation.idAmi })}}">
                            <button class="unfollow-button">Ne plus suivre</button>
                        </a>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            
            <h1>Bonjour {{nomUtilisateur}}</h1>
            <br/>
            <h4>Veuillez ajouter des relations pour pouvoir les consulter.</h4>

        {% endif %}
    </div>
</div>

{% endblock %}
