    {% extends 'base.html.twig' %}

    {% block title %}Ressource - {{ ressource.titre }}{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <style>
            /* Styles pour la section des commentaires */
            .comment-section {
                margin-top: 20px;
            }
            .comment-count{
                font-size:30px;
            }
            .comment {
                margin-bottom: 20px;
                padding: 10px;
                background-color: #f9f9f9;
                border: 1px solid #ddd;
                border-radius: 5px;
            }
            .logo-container {
                margin-right: 10px;
                width: 50px; /* Largeur désirée du logo */
                height: 50px; /* Hauteur désirée du logo */
                overflow: hidden; /* Masquer les parties de l'image qui dépassent */
                border-radius: 50%; /* Créer un cercle en appliquant un rayon égal à la moitié de la largeur ou de la hauteur */
            }

            .rounded-logo {
                width: 50px; /* Assurer que l'image remplit complètement le conteneur rond */
                height: 50px; /* Ajuster automatiquement la hauteur en fonction de la largeur pour conserver les proportions de l'image */
            }
            .margin-logo {
                margin-top: 10px;
                display: flex;
            }

            .user-comment {
                display: flex;
                font-size: 20px;
            }
            .username-comment {
                font-size: 20px;
                margin-right: 10px;
            }
            .comment-date {
                font-size: 20px;
                color: grey;
            }   
            .comment-body {
                font-size: 20px;
                margin-bottom: 10px;
            }
            .reply-comment {
                font-size: 11px;
                color: grey;
                margin-bottom: 10px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                transition: color 0.3s ease;
            }
            .reply-comment:hover {
                color: #555;
            }
            .comment-form {
                margin-top: 20px;
                display: flex; /* Permet de placer les éléments horizontalement */
                align-items: center; /* Centre les éléments verticalement */
            }
            .comment-form input[type="text"] {
                flex: 1; /* Permet à l'input de prendre autant d'espace que possible */
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
                margin-right: 10px; /* Espacement à droite */
            }
            .comment-form input[type="submit"], input[type="button"]  {
                padding: 10px 20px;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }
            .comment-form input[type="submit"].send {
                background-color: #2432f0; /* Bleu */
            }
            .comment-form input[type="button"].cancel-command {
                background-color: #4CAF50; /* Vert */
            }
            .comment-form input[type="button"].cancel {
                background-color: #4CAF50; /* Vert */
            }
            .comment-form input[type="submit"].send:hover{
                background-color: #2494f0  ; 
            }
            .comment-form input[type="button"].cancel:hover,
            .comment-form input[type="button"].cancel-command:hover {
                background-color: #45a049; /* Vert plus clair au hover */
            }
            /* Ajout de style pour aligner le contenu du commentaire avec le nom d'utilisateur */
            .comment-content {
                margin-left: 60px; /* Ajustez cet espacement selon vos besoins */
            }
            .favoris{
                margin-bottom:20px;
                background-color:#f5e902;
                border-radius: 5px;
                border: none;
                padding: 10px 20px;
            }
            .favoris:hover{
                background-color:#f7ed2f;
            }
            .favoris-remove{
                margin-bottom:20px;
                background-color:#d10000;
                border-radius: 5px;
                border: none;
                padding: 10px 20px;
            }
            .favoris-remove:hover{
                background-color:#d90b0b;
            }
            .cancel-reply{
                
            }
        </style>
    {% endblock %}

    {% block body %}

        <h1>Titre : {{ ressource.titre }}</h1>
        <img src="{{ ressource.multimedia }}" style="width:500px"/>
        <h4>Contenu : {{ ressource.contenu }}</h4>
        <h4>Créer par : {{ ressource.idUtilisateur.nom }} </h4>
        
        {% if (is_granted('IS_AUTHENTICATED_FULLY')) and (estAmi) and (utilisateur.id != ressource.idUtilisateur.id) %}
            <form action="{{ path('app_deleteRelation', {'idAmis': ressource.idUtilisateur.id }) }}" method="delete">
                <button type="warning" id="save-button" class="btn btn-warning">Ne suivez plus {{ ressource.idUtilisateur.nom }} en cliquant ici !</button>
            </form>
        {% elseif is_granted('IS_AUTHENTICATED_FULLY') and (utilisateur.id != ressource.idUtilisateur.id) %}
            <form action="{{ path('app_postRelation', {'idAmis': ressource.idUtilisateur.id }) }}" method="post">
                <button type="submit" id="save-button" class="btn btn-success">Suivez {{ ressource.idUtilisateur.nom }} en cliquant ici !</button>
            </form>
        {% endif %}
    <div class="comment-section">
        {# Boutons favoris #}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if estEnregistrer %}
                <form method="delete" action="{{ path('app_delete_favoris', {'id': ressource.id}) }}">
                    <button type="submit" class="favoris-remove">Retirer des favoris</button>
                </form>
            {% else %}
                <form method="post" action="{{ path('app_add_favoris', {'id': ressource.id}) }}">
                    <button type="submit" class="favoris">Ajouter des favoris</button>
                </form>
            {% endif %}
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {# Ajouter commentaire #}
            <h2 class="comment-count">{{ commentaires|length }} {{ commentaires|length == 1 ? 'Commentaire' : 'Commentaires' }}</h2>
            <form class="comment-form" action="{{ path('app_add_commentaire', {'id': ressource.id}) }}" method="post" style="margin-bottom:20px">
                <img src={{ utilisateur.photo }} class="rounded-logo" alt="" style="border-radius: 50%; margin-right: 10px; object-fit: cover;">
                <input type="text" name="contenu" id="comment-input" placeholder="Ajoutez un commentaire...">
                <input type="button" class="cancel-command" onclick="clearComment()" value="Annuler" style="margin-right:10px;">
                <input type="submit" class="send" id="submit-button" value="Envoyer">
            </form>
        {% endif %}

        {# Section commentaire #}
        {% for commentaire in commentaires %}

            <div class="comment">
                <div class="user-comment">
                    <div class="logo-container">
                        {# Mettre le logo de l'utilisateur qui à commenté#}
                        <img src="{{ commentaire.photoUtilisateur }}" class="rounded-logo" alt="" style="object-fit: cover;">
                    </div>
                    <div class="margin-logo">
                        <h1 class="username-comment">{{ commentaire.nomUtilisateur }}</h1>
                        <h1 class="comment-date">{{ commentaire.dateCreation|date("d/m/Y") }}</h1>
                    </div>
                </div>
                <div class="comment-content">
                    <h1 class="comment-body">{{ commentaire.contenu }}</h1>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') and (utilisateur.id == commentaire.idUtilisateur)%}
                        <form method="delete" action="{{ path('app_delete_commentaire', {'idCommentaire': commentaire.idCommentaire}) }}">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    {% endif %}

                    {# <!-- Ajouter une reponse -->
                    <button class="reply-comment" onclick="showReplyForm()">REPONDRE</button>
                    <div id="reply-form" style="display: none;">
                        <form action="" method="post">
                            <img src="{{ utilisateur.photo }}" class="rounded-logo" alt="?" style="border-radius: 50%; margin-right: 10px; object-fit: cover; ">
                            <input type="text" name="reply" placeholder="Ajouter une réponse..." style="flex: 1; padding: 10px; border: 1px solid #ddd; border-radius: 5px;">
                            <button type="button" class="cancel" onclick="cancelReply()" class="cancel-reply" style="background-color: #4CAF50; border-radius: 5px; border: none; padding: 10px 20px;">Annuler</button>
                            <input type="submit" value="Envoyer" style="background-color: #2432f0; border-radius: 5px; border: none; padding: 10px 20px;">
                        </form>
                    </div>

                    
                    <!-- Reponse -->
                    <div style="margin-left:20px;display:flex">
                        <div class="logo-container">
                            <img src="{{ ressource.multimedia }}" class="rounded-logo" alt="Logo">
                        </div>
                        <div class="margin-logo">
                            <h1 class="username-comment">Nom de l'utilisateur</h1>
                            <h1 class="comment-date">24/05/2024</h1>
                        </div>
                    </div>
                    <h1 class="comment-body" style="margin-left:80px">un commentaire</h1> #}
                </div>
            </div>
        {% endfor %}

    </div>

    <script>
        function clearComment() {
            document.getElementById('comment-input').value = '';
        }
        function showReplyForm() {
            var replyForm = document.getElementById('reply-form');
            var cancelButton = document.querySelector('.cancel');
            replyForm.style.display = 'block';
            cancelButton.style.display = 'inline-block';
        }

        function cancelReply() {
            var replyForm = document.getElementById('reply-form');
            var cancelButton = document.querySelector('.cancel');
            replyForm.style.display = 'none';
            cancelButton.style.display = 'none';
        }
    </script>

    {% endblock %}
