{% extends 'base.html.twig' %}

{% block title %}Ressources
{% endblock %}

{% block body %}
<div class="tableRessources">

	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ type }}">{{ message }}</div>
		{% endfor %}
	{% endfor %}

	<h1>Ressources</h1>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<a href="{{ path('app_creer_ressource') }}">
			<button class="btn btn-success mb-3">Créer une Ressource</button>
		</a>
	{% endif %}

	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th scope="col">Titre</th>
				<th scope="col">Contenu</th>
				<th scope="col">Dernière modification</th>
				<th scope="col">Multimedia</th>
				<th scope="col">Catégorie</th>
				<th scope="col">Participants</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for ressource in ressources %}
				<tr>
					<td>{{ ressource.titre }}</td>
					<td>{{ ressource.contenu }}</td>
					<td>{{ ressource.dateCreation|date('Y-m-d') }}</td>
					<td><img src="{{ ressource.multimedia }}" style="width:50px"/></td>
					<td>{{ ressource.idCategorie.nom }}</td>
					<td>{{ ressource.idUtilisateur.nom }}</td>
					<td class="btn-group">
						{% if is_granted('IS_AUTHENTICATED_FULLY') and (utilisateurId == ressource.idUtilisateur.id) %}
							<form method="delete" action="{{ path('app_supprimer_ressource', {'id': ressource.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette ressource ?')">
								<button type="submit" class="btn btn-danger btn-sm">
									<i class="fa-solid fa-trash"></i>
								</button>
							</form>

							<a href="{{ path('app_editer_ressource', {'id': ressource.id, 'redirect_to': 'app_ressources'}) }}" class="btn btn-warning btn-sm">
								<i class="fa-solid fa-pen-to-square"></i>
							</a>
						{% endif %}

						<a href="{{ path('app_detailressources', {'id': ressource.id}) }}" class="btn btn-primary btn-sm">
							<i class="fa-solid fa-eye"></i>
						</a>
					</td>


				</tr>
			</tbody>
		</tbody>
	</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
